body {
  background-color: #121418;
  color: white;
}

.App-title, .App-description {
  text-align: center;
}

.header {
  margin: 2rem;
}

.App-header-img {
  width: 15rem;
  display: block;
  margin: auto;
}

.App-link {
  color: #09d3ac;
}

.news-section {
  text-align: center;
}

.news a {
  color: white;
  text-decoration: none;
  display: block;
}

.news a:hover {
  text-decoration: underline;
}