body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

.App-title, .App-description {
  text-align: center;
}

.header {
  margin: 2rem;
}

.App-header-img {
  width: 15rem;
  display: block;
  margin: auto;
}

.App-link {
  color: #09d3ac;
}
